body {
  background-image: url("../img/logos_backgroun/admin_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  font-family: "balatro", fantasy;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


/* ===== CONTENEDOR ===== */
.admin-panel {
    width: 90%;
    max-width: 900px;

    margin: 50px auto;
    padding: 30px;

    background: linear-gradient(#3c444c, #2b3238);

    border: 4px solid #c2c7cc;
    border-radius: 12px;

    box-shadow: 6px 6px 0 #000;
}

/* ===== TITULO ===== */
.admin-panel h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

/* ===== INPUTS ===== */
.admin-panel input,
.admin-panel textarea,
.admin-panel select {

    width: 100%;
    margin-bottom: 15px;

    padding: 12px;

    background: #1f2429;

    border: 3px solid #c2c7cc;
    border-radius: 10px;

    color: white;

    font-size: 18px;
    font-family: "balatro", fantasy;

    outline: none;

    box-shadow: inset 0 2px 0 rgba(255,255,255,0.05);
}

/* ===== TEXTAREA ===== */
.admin-panel textarea {
    resize: none;
    height: 100px;
}

/* ===== INPUT FILE ===== */
.admin-panel input[type="file"] {
    padding: 10px;
    cursor: pointer;
}

/* ===== BOTON GUARDAR ===== */
#guardarCarta {

    width: 100%;

    padding: 14px;

    background: #ff4b4b;

    border: 4px solid #ff4b4b;
    border-radius: 12px;

    color: white;

    font-size: 22px;
    font-family: "balatro", fantasy;

    cursor: pointer;

    box-shadow: 5px 5px 0 #000;

    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

#guardarCarta:hover {
    transform: scale(1.03);

    box-shadow:
        7px 7px 0 #000,
        0 0 12px rgba(255,75,75,0.4);
}

/* ===== EFECTO SUAVE ===== */
.admin-panel input:focus,
.admin-panel textarea:focus,
.admin-panel select:focus {
    border-color: white;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}