/* 🔮 CONTENEDOR EFECTO */
.tilt-container {
  position: relative;
  width: 120px;
  height: 180px;
  transition: 200ms;
}

.tilt-container:active {
  transform: scale(0.97);
}

/* GRID */
.canvas {
  perspective: 800px;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

/* TRACKERS */
.tracker {
  position: relative;
  z-index: 2;
}

.tracker:hover {
  cursor: pointer;
}

/* CARTA */
.tilt-card {
  position: absolute;
  inset: 0;
  overflow: hidden;
  transition: 300ms;
  border-radius: 10px;
}

/* IMAGEN */
.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BRILLO */
.tilt-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at top left, rgba(255,255,255,0.25), transparent);
  opacity: 0;
  transition: 0.3s;
}

.tilt-container:hover .tilt-card::before {
  opacity: 1;
}

/* ROTACIONES */
.tr-1:hover ~ .tilt-card { transform: rotateX(20deg) rotateY(-10deg); }
.tr-2:hover ~ .tilt-card { transform: rotateX(20deg) rotateY(-5deg); }
.tr-3:hover ~ .tilt-card { transform: rotateX(20deg) rotateY(0deg); }
.tr-4:hover ~ .tilt-card { transform: rotateX(20deg) rotateY(5deg); }
.tr-5:hover ~ .tilt-card { transform: rotateX(20deg) rotateY(10deg); }

.tr-6:hover ~ .tilt-card { transform: rotateX(10deg) rotateY(-10deg); }
.tr-7:hover ~ .tilt-card { transform: rotateX(10deg) rotateY(-5deg); }
.tr-8:hover ~ .tilt-card { transform: rotateX(10deg) rotateY(0deg); }
.tr-9:hover ~ .tilt-card { transform: rotateX(10deg) rotateY(5deg); }
.tr-10:hover ~ .tilt-card { transform: rotateX(10deg) rotateY(10deg); }

.tr-11:hover ~ .tilt-card { transform: rotateX(0deg) rotateY(-10deg); }
.tr-12:hover ~ .tilt-card { transform: rotateX(0deg) rotateY(-5deg); }
.tr-13:hover ~ .tilt-card { transform: rotateX(0deg) rotateY(0deg); }
.tr-14:hover ~ .tilt-card { transform: rotateX(0deg) rotateY(5deg); }
.tr-15:hover ~ .tilt-card { transform: rotateX(0deg) rotateY(10deg); }

.tr-16:hover ~ .tilt-card { transform: rotateX(-10deg) rotateY(-10deg); }
.tr-17:hover ~ .tilt-card { transform: rotateX(-10deg) rotateY(-5deg); }
.tr-18:hover ~ .tilt-card { transform: rotateX(-10deg) rotateY(0deg); }
.tr-19:hover ~ .tilt-card { transform: rotateX(-10deg) rotateY(5deg); }
.tr-20:hover ~ .tilt-card { transform: rotateX(-10deg) rotateY(10deg); }

.tr-21:hover ~ .tilt-card { transform: rotateX(-20deg) rotateY(-10deg); }
.tr-22:hover ~ .tilt-card { transform: rotateX(-20deg) rotateY(-5deg); }
.tr-23:hover ~ .tilt-card { transform: rotateX(-20deg) rotateY(0deg); }
.tr-24:hover ~ .tilt-card { transform: rotateX(-20deg) rotateY(5deg); }
.tr-25:hover ~ .tilt-card { transform: rotateX(-20deg) rotateY(10deg); }
