/* CAPA DE ESTRELLAS */
body {
  background-image: url("../img/logos_backgroun/tarot_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  
  /* Esto es lo que falta */
  background-size: cover; 
  background-attachment: fixed; /* Opcional: para que el fondo no se mueva al hacer scroll */
  
  /* Asegura que el body tenga el alto de la pantalla */
  min-height: 100vh;
  margin: 0;
}





body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;

  /* Estrellas más grandes y con colores brillantes */
  background-image: 
    
    radial-gradient(3px 3px at 20% 30%, #ffffff 100%, transparent),
    radial-gradient(2px 2px at 50% 10%, #ffffff 100%, transparent),
    
    radial-gradient(4px 4px at 70% 80%, #ffffff 10%, rgba(211, 212, 212, 0.3) 50%, transparent),
    radial-gradient(3px 3px at 10% 85%, #ffffff 100%, transparent),
    
    radial-gradient(4px 4px at 40% 60%, #ffffff 10%, rgba(212, 212, 211, 0.3) 50%, transparent),
    radial-gradient(2px 2px at 90% 20%, #ffffff 100%, transparent);

  /* Esto hace que el patrón se repita cada 600px, llenando la pantalla */
  background-size: 600px 600px;
  
  /* Animación más lenta para que se aprecie el detalle */
  animation: estrellasMove 30s linear infinite;
  
  /* Aumentamos la opacidad para que no se vea transparente */
  opacity: 1; 
}

@keyframes estrellasMove {
  from { background-position: 0 0; }
  to { background-position: 600px 1200px; }
}






@font-face {
  font-family: "balatro";
  src: url("../tipografia/balatro.otf") format("truetype");
}








.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* TITULO */
.title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 30px;
  font-family: "balatro", fantasy;
  color: #eab308;
}

/* TARJETA */
.card {
  display: grid;
  grid-template-columns: 150px 1fr;
  background: #1e293b;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

/* EFECTO HOVER */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.8);
}

/* IMAGEN */
.card-img {
  background: #020617;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img img {
  width: 100%;
  height: auto;
}

/* CONTENIDO */
.card-content {
  padding: 20px;
}

.card-content h2 {
  margin: 0;
  color: #a78bfa;
  font-size: 24px;
}

.card-content p {
  margin-top: 10px;
  color: #cbd5f5;
  line-height: 1.5;
}




